.mycenter{
    justify-content: center;
}

button, input {
 
    border-radius: 70px;
    padding: 4px 14px;
     margin: 40px 2px;

}

.red{
    background-color: brown;
}

.blue{
    background-color: #007bff;
}
.yellow{
    background-color:yellow ;
}

.green{
    background-color:green ;
}